.address-list {
    padding: 0;
    &__item {
        margin-right: 0;
        margin-bottom: 10px;
    }
    &__item:last-child {
        margin-right: 0;
        margin-bottom: 0;
    }
    &__contacts {
        color: var(--contacts-color);
        font-family: inherit;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        display: flex;
        margin-right: 15px;
    }
    &__icon {
        fill: var(--contacts-color);
        margin-right: 8px;
    }
    &__icon:hover,
    &__icon:focus,
    &__item:hover &__icon,
    &__item:focus &__icon {
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
        fill: var(--logo-color);
    }
}

@media (min-width: 1200px) {
    .address-list {
        display: flex;
        &__contacts {
            margin-right: 30px;
        }
        &__item {
            margin-bottom: 0;
            &:last-child .address-list__contacts {
                margin-right: 0;
            }
        }
    }
}