.header {
    border-bottom: var(--nav-border);
    &__main {
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        display: flex;
    }
    &__container {
        display: flex;
        flex-wrap: wrap;
    }
    &__logo {
        text-decoration: none;
        font-family: var(--font-second);
        font-size: 24px;
        letter-spacing: 0.03em;
        color: var(--main-text-color);
        line-height: 1.16;
        margin: 16px 0 16px 15px;
    }
}

@media (min-width: 1200px) {
    .header {
        &__logo {
            font-size: 26px;
            line-height: 1.19;
            margin: 24px auto 25px;
        }
    }
}