.section-card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    margin: 0 15px;
    &__header-third {
        font-family: inherit;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    &__paragraph {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--contacts-color);
    }
}

.icon-container {
    margin: 0 0 30px;
}

@media (min-width: 768px) {
    .section-card {
        margin: 0 auto;
        width: 738px;
        &__item {
            max-width: 354px;
        }
    }
}

@media (min-width: 1200px) {
    .section-card {
        margin: 0 auto;
        width: 1170px;
        &__item {
            max-width: 270px;
        }
    }
}