.section {
    padding: 60px 0;
    &__header-second {
        font-size: 28px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 30px;
    }
}

@media (min-width: 1200px) {
    .section {
        padding: 94px 0;
        &__header-second {
            font-size: 36px;
            line-height: 1.16;
        }
    }
}