.team {
    background: var(--filters-bg-color);
    &__header-third {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
    }
    &__paragraph {
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--contacts-color);
    }
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 0;
    max-width: 225px;
    margin: 0 auto;
    &__item {
        flex-basis: 100%;
    }
    &__figure {
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        display: flex;
        margin: 0;
        background-color: var(--second-color);
    }
    &__figurecaption {
        margin: auto;
    }
    &__img {
        display: block;
    }
}

@media (min-width: 480px) {
    .team-list {
        max-width: 450px;
        margin: 0 auto;
        &__img {
            width: 450px;
            height: 460px;
        }
    }
}

@media (min-width: 768px) {
    .team-list {
        max-width: 738px;
        &__item {
            flex-basis: calc((100% - 30px) / 2);
        }
        &__img {
            width: 354px;
            height: 361px;
        }
    }
}

@media (min-width: 1600px) {
    .team-list {
        max-width: 1200px;
        &__item {
            flex-basis: calc((100% - 3 * 40px) / 4);
        }
        &__img {
            width: 270px;
            height: 260px;
        }
    }
}