.welcome {
    background-color: var(--footer-section);
    background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/photo2.png');
    background-size: 480px 400px;
    background-repeat: no-repeat;
    margin: auto;
    background-size: auto;
    background-position: center;
    max-width: 1600px;
    &__header-first {
        font-family: inherit;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.61;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--second-color);
        max-width: 365px;
        margin: 24px auto 30px;
    }
    &__button {
        display: flex;
        padding: 10px 41px;
        font-family: inherit;
        font-size: 16px;
        line-height: 1.87;
        text-align: center;
        letter-spacing: 0.06em;
        color: var(--second-color);
        background-color: var(--logo-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
        border-color: var(--logo-color);
        margin: 30px auto 24px;
    }
}

@media screen and (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx),
(min-width: 480px) {
    .welcome {
        background-size: 480px 400px;
        background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/photo.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx),
(min-width: 768px) {
    .welcome {
        background-size: 768px 400px;
        background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/photo3.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx),
(min-width: 1600px) {
    .welcome {
        background-size: 1600px 600px;
        background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/photo2.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (min-width: 768px) {
    .welcome {
        padding: 92.5px 0;
    }
}

@media (min-width: 1200px) {
    .welcome {
        padding: 96px 0;
        &__header-first {
            font-size: 44px;
            line-height: 1.36;
            max-width: 696px;
            margin-top: 102px;
        }
        &__button {
            margin-bottom: 102px;
        }
    }
}